@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lobster&family=Montserrat:wght@100&family=Nunito+Sans:ital,wght@0,300;1,300&display=swap');

*{
font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background: url(https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    width: 100%;
    height: 100vh;
}
.output {
    background: url(https://images.unsplash.com/photo-1670968981804-525574bfb788?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);
    width: 30%;
    border-radius: 15px;
    height: 50vh;
    padding: 10px;
    color: white;
    transform: translate(120%, 50%);
    background-position: center;
    background-size: cover;}
    .main {
        /* margin: 25em; */
       
        width: 100%;
    }

    
    .output h3 {
    }
    
    input[type="text"] {
        color: #DC530F;
        min-width: 100%;
        font-weight: bolder;
    }
    form {
        text-align: center;
    }
    
    button.btn.btn-primary.rounded-0 {
 
        width: 40%;
      
      background-color: #BCBBB9;
        /* margin: 10px 105px; */
        border: none;
        color: black;
        font-weight: 800;
    }
    button.btn.btn-primary.rounded-0:hover{
        background-color: #DC530F;
        color: whitesmoke;
    }

    .output h6 {
        font-size: 14px;
    }
    @media(max-width:468px){
        .output{
            width: 81%;
            height: 50vh;
            transform: translate(13%, 16%);
        }
      
    }
    @media(min-width:468px) and (max-width:768px){
        button.btn.btn-primary.rounded-0{
            margin: 10px 80px;
        }
        .output{
            width: 54%;
            height: 55vh;
            transform: translate(43%, 23%);
        }
    }
    @media(min-width:768px) and (max-width:1024px){
    
        .output{
            width: 40%;
            height: 55vh;
            transform: translate(79%, 23%);
        }
    }